This notebook will mainly be used for the Capstone Project in the Applied Data Science Capstone Project.

In [2]:
import pandas as pd
import numpy as np

In [4]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [4]:
df = pd.read_csv('vets.csv')
df

,Unnamed: 0,name,review_count,rating,lat,lng,city
0,0,Best Friend's Pet Clinic,6,5.0,37.694291,-97.451977,Wichita
1,1,Skaer Veterinary Clinic,9,4.5,37.680776,-97.271020,Wichita
2,2,Indian Hills Animal Clinics,5,5.0,37.708442,-97.380224,Wichita
3,3,Air Capital Veterinary Clinic,4,5.0,37.680100,-97.317355,Wichita
4,4,All Creatures Veterinary Hospital,4,5.0,37.710430,-97.440585,Wichita
5,5,Oakcrest Pet Hospital,4,5.0,37.693570,-97.482546,Wichita
6,6,Animal Hospital at Auburn Hills,6,4.5,37.677803,-97.495223,Wichita
7,7,Banfield Pet Hospital,6,4.5,37.749413,-97.247347,Wichita
8,8,Mulvane Animal Clinic,6,4.5,37.482212,-97.231560,Mulvane
9,9,Indian Hills Animal Clinic,7,4.0,37.709449,-97.461666,Wichita

In [ ]:
# @hidden_cell
CLIENT_ID = 'ZLR3MTCNRP4WWE4RKTQ2POK0AHPJM4JOHU2N03DF' # your Foursquare ID
CLIENT_SECRET = 'XPDESZ31JDR4BHRHCE2URAFXQNLIKVCX' # your Foursquare Secret
ACCESS_TOKEN = 'GQMA4FVCCE2Y1MXW2WM5SXI3TBSFMCR1D3WSIGPFQF' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)